<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>kwik-e mart POS - customer orders</h1>
    <ul>
        {% for order in orders %}
        <li>
            <p>{{ order.product_name }} {{ order.item_price }} quantity: {{ order.quantity }}</p>
            <p>{{ order.customer_name }} date: {{ order.date}} </p>
            <a href="/orders/{{ orders.index(order)}}">more details</a>
        </li>
        {% endfor %}

    </ul>
    
</body>
</html>