<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="http://fonts.cdnfonts.com/css/homer-simpson-revised" rel="stylesheet">
    <title>{{title}}</title>
</head>
<body>
    <header>
   
        <h1>        <a href="/../"><img src="https://www.gran-turismo.com/gtsport/decal/7205860563779354624_1.png" alt="header-logo"></a>     kwik-e mart POS - customer orders</h1>
    </header>
    <main>
    <ul><li id="table">product name -- price -- quantity</li>
        {% for order in orders %}
        <li>
            <a href="/orders/{{ orders.index(order)}}"><p id="line1">{{ order.product_name }}  -- ${{ order.item_price }} --  x{{ order.quantity }}</p></a>
            <p>purchased by: {{ order.customer_name }} date: {{ order.date}} </p>
        </li>
        {% endfor %}

    </ul>
</main>

    <footer>copyright justin/kwik-e mart </footer>
</body>
</html>