<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kwik-e mart POS - customer order view</title>
</head>
<body>
        <h1>kwik-e mart POS - single order</h1>
        <p>
        {{ order.product_name }} {{ order.item_price }} quantity: {{ order.quantity }}</p>

        <p>{{ order.customer_name }} date: {{ order.date}} </p>
    
</body>
</html>